<!doctype html>

<html>
<head>
	<title>Youtube Video Downloader!</title>
	<link rel="icon" href="images.jpg">
	ink rel= "stylesheet" type= "text/css" href= "/main.css">
</head>

<body>
	<hr />
	<div id="titl">
		The Youtube Video Downloader
	</div>
	<hr />

	<div id="lside"></div>
	<div id="rside"></div>

	<div id="face">Hurray!</div>
	<div id="tag">Your Video has been downloaded...</div>

	<div id="instr">
		<p>#Your video has been saved as: {{vid.filename}}.<br/><br/>
			#You can check the video in location: {{path}}<br/><br>
			#To download another video, hit the button right below:<br/>
			<form action="http://127.0.0.1:5000/">
				<input type="submit" style="font-size:15pt;height:27px" value="DOWNLOAD ANOTHER VIDEO" > <br/>
			</form>
		</p>

	</div>

	<div id="designer">Designed by: Akshay Singh Raghav <br/> Electronics Undergrad, N.I.T. Jalandhar. <br/> E-mail: akshaysr.ec.14@nitj.ac.in</div>
</body>
</html>